<h1>Scrabble!</h1>
<form action="/scrabble">
  <div class="form-group">
    <label for="word">Please enter a word:</label>
    <input id="word" name="word" class="class-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
